<!-- Navigation Bar -->
<script
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
></script>

<nav class="theta-mart-nav">
  <ul>
    <li><a href="/#">Theta Mart</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/drivers">Drivers</a></li>
    <li><a href="/orders">Orders</a></li>
    <li><a href="/orderProducts">Order Products</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/orderStatuses">Order Statuses</a></li>
  </ul>
</nav>

{{! Search Customer }}
<form id="search-person-html" method="GET" action="/customers">
  <div class="textbox-label">Search Customer</div>
  <input
    type="text"
    class="textbox"
    name="lname"
    id="input-lname-html-search"
    placeholder="Type Last Name..."
  />
  <input type="submit" />
  <a href="/customers"><button>Reset</button></a>
</form>
<br />

{{! Create a table }}
<table id="customers-table">
  {{! Header section }}
  <thead>
    <tr>
      <th>Customer ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Street</th>
      <th>Unit</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Country</th>
      <th></th>
    </tr>
  </thead>

  {{! Body section }}
  <tbody>
    {{#each data}}
      <tr>
        <td>{{this.customer_id}}</td>
        <td>{{this.fname}}</td>
        <td>{{this.lname}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.address1}}</td>
        <td>{{this.address2}}</td>
        <td>{{this.city}}</td>
        <td>{{this.state}}</td>
        <td>{{this.zipcode}}</td>
        <td>{{this.country}}</td>
        <td><button onclick="deleteCustomer({{this.customer_id}})">Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>

<!-- Add a new table -->

<div class="form-style">
  <h4>CREATE CUSTOMER</h4>
  <form id="add-customer-form-ajax">
    <input
      type="text"
      name="input-fname"
      id="input-fname"
      placeholder="First Name"
      required
    />
    <input
      type="text"
      name="input-lname"
      id="input-lname"
      placeholder="Last Name"
      required
    />
    <input
      type="text"
      name="input-phone"
      id="input-phone"
      placeholder="Phone"
      required
    />
    <input
      type="text"
      name="input-address1"
      id="input-address1"
      placeholder="Street"
      required
    />
    <input
      type="text"
      name="input-address2"
      id="input-address2"
      placeholder="Unit"
    />
    <input type="text" name="input-city" id="input-city" placeholder="City" />
    <input
      type="text"
      name="input-state"
      id="input-state"
      placeholder="State"
      required
    />
    <input
      type="text"
      name="input-zipcode"
      id="input-zipcode"
      placeholder="Zip Code"
      required
    />
    <input
      type="text"
      name="input-country"
      id="input-country"
      placeholder="Country"
      required
    />
    <input type="submit">
  </form>
</div>
<br />

<!--Update Customer Table -->

<div class="form-style">
  <h4>UPDATE CUSTOMER</h4>
  <form id="update-customer-form-ajax">
    <select name="update-fullname" id="update-fullname">
      <option value="test">Select a Customer</option>
      {{#each data}}
        <option value="{{this.customer_id}}">{{this.fname}}
          {{this.lname}}</option>
      {{/each}}
    </select>
    <Input type="text" name="update-fname" id="update-fname" required placeholder="First Name">
    <Input type="text" name="update-lname" id="update-lname" required placeholder="Last Name">
    <Input type="text" name="update-phone" id="update-phone" required placeholder="Phone">
    <Input type="text" name="update-address1" id="update-address1" required placeholder="Street">
    <Input type="text" name="update-address2" id="update-address2" placeholder="Unit">
    <Input type="text" name="update-city" id="update-city" required placeholder="City">
    <Input type="text" name="update-state" id="update-state" required placeholder="State">
    <Input type="text" name="update-zipcode" id="update-zipcode" required placeholder="Zip Code">
    <Input type="text" name="update-country" id="update-country" required placeholder="Country">  
    <input type="submit">
    </form>
  </div>

{{! Embed our javascript to handle the DOM manipulation and AJAX request }}
<script src="./js/add_customer.js"></script>
<script src="./js/update_customer.js"></script>
<script src="./js/delete_customer.js"></script>