<!-- drivers.hbs -->
<script
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
></script>

<nav class="theta-mart-nav">
  <ul>
    <li><a href="/#">Theta Mart</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/drivers">Drivers</a></li>
    <li><a href="/orders">Orders</a></li>
    <li><a href="/orderProducts">Order Products</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/orderStatuses">Order Statuses</a></li>
  </ul>
</nav>

{{! Search driver }}
<form id="search-person-html" method="GET" action="/drivers">
  <div class="textbox-label">Search Driver</div>
  <input
    type="text"
    class="textbox"
    name="lname"
    id="input-lname-html-search"
    placeholder="Type Last Name..."
  />
  <input type="submit" />
  <a href="/drivers"><button>Reset</button></a>
</form>
<br />

{{! Create a table }}
<table id="drivers-table" class="main-table">
  {{! Header section }}
  <thead>
    <tr>
      <th>Driver ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Available</th>
      <th></th>
    </tr>
  </thead>
  {{! Body section }}
  <tbody>
    {{#each data}}
      <tr data-value={{this.driver_id}}>
        <td>{{this.driver_id}}</td>
        <td>{{this.fname}}</td>
        <td>{{this.lname}}</td>
        <td>{{this.phone}}</td>
        <td value-availability={{this.Available}}>{{this.available}}</td>
        <td><button
            onclick="deleteDriver({{this.driver_id}})"
          >Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>

<!-- Add a new table -->
<div class="form-alignment">
<div class="title">
  <h4 class="table-title">CREATE DRIVER</h4>
  <form id="add-driver-form-ajax">
    <table class="sub-table-style">
      <tr>
        <td><label for="input-fname">First Name:</label></td>
        <td>
          <input
            type="text"
            name="input-fname"
            id="input-fname"
            placeholder="First Name"
            required
          />
        </td>

      </tr>
      <tr>
        <td><label for="input-lname">Last Name:</label></td>
        <td><input
            type="text"
            name="input-lname"
            id="input-lname"
            placeholder="Last Name"
            required
          /></td>

      </tr>
      <tr>
        <td><label for="input-phone">Phone:</label></td>
        <td><input
            type="tel"
            name="input-phone"
            id="input-phone"
            placeholder="Enter with numbers only"
            required
          /></td>

      </tr>
      <tr>
        <td><label for="input-availability">Availability:</label></td>
        <td>
          <select
            name="input-availability"
            id="input-availability"
            placeholder="Availability"
            required
            class="box"
          >
            <option value="">Select an Availability</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </td>

      </tr>
    </table>
    <div class="button-style">
      <td><input type="submit" /></td>
    </div>

  </form>
</div>
<br />

<!--Update Driver Table -->

<div class="title">
  <h4 class="table-title">UPDATE DRIVER</h4>
  <form id="update-driver-form-ajax">
    <table class="sub-table-style">
      <tr>
        <td><label for="update-fullname">Select a Driver:</label></td>
        <td><select
            name="update-fullname"
            id="update-fullname-driver"
            onChange="autofill()"
            required
            class="box"
          >
            <option value="">Select a Driver</option>
            {{#each data}}
              <option value="{{this.driver_id}}">{{this.fname}}
                {{this.lname}}</option>
            {{/each}}
          </select></td>

      </tr>
      <tr>
        <td><label for="update-fname-driver">First Name:</label></td>
        <td><input
            type="text"
            name="update-fname-driver"
            id="update-fname-driver"
            placeholder="First Name"
            required
          /></td>

      </tr>
      <tr>
        <td><label for="update-lname-driver">Last Name:</label></td>
        <td><input
            type="text"
            name="update-lname-driver"
            id="update-lname-driver"
            placeholder="Last Name"
            required
          /></td>

      </tr>
      <tr>
        <td><label for="update-phone-driver">Phone:</label></td>
        <td>
          <input
            type="tel"
            name="update-phone-driver"
            id="update-phone-driver"
            placeholder="Enter with numbers only"
            required
          /></td>

      </tr>
      <tr>
        <td><label for="update-availability-driver">Availability:</label></td>
        <td><select
            name="update-availability-driver"
            id="update-availability-driver"
            required
            class="box"
          >
            <option value="">Select an Availability</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select></td>

      </tr>
    </table>
    <div class="button-style">
      <td><input type="submit" /></td>
    </div>

  </form>
</div>
</div>

<br></br>

{{! Embed our javascript to handle the DOM manipulation and AJAX request }}
<script src="./js/add_driver.js"></script>
<script src="./js/delete_driver.js"></script>
<script src="./js/update_driver.js"></script>