<!-- drivers.hbs -->
<script
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
></script>

<nav class="theta-mart-nav">
  <ul>
    <li><a href="/#">Theta Mart</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/drivers">Drivers</a></li>
    <li><a href="/orders">Orders</a></li>
    <li><a href="/orderProducts">Order Products</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/orderStatuses">Order Statuses</a></li>
  </ul>
</nav>

{{! Search driver }}
<form id="search-person-html" method="GET" action="/drivers">
  <div class="textbox-label">Search Driver</div>
  <input
    type="text"
    class="textbox"
    name="lname"
    id="input-lname-html-search"
    placeholder="Type Last Name..."
  />
  <input type="submit" />
  <a href="/drivers"><button>Reset</button></a>
</form>
<br />

{{! Create a table }}
<table id="drivers-table">
  {{! Header section }}
  <thead>
    <tr>
      <th>Driver ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Available</th>
      <th></th>
    </tr>
  </thead>
  {{! Body section }}
  <tbody>
    {{#each data}}
      <tr>
        <td>{{this.driver_id}}</td>
        <td>{{this.fname}}</td>
        <td>{{this.lname}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.available}}</td>
        <td><button
            onclick="deleteDriver({{this.driver_id}})"
          >Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>

<!-- Add a new table -->

<div class="form-style">
  <h4>CREATE DRIVER</h4>
  <form id="add-driver-form-ajax">
    <input
      type="text"
      name="input-fname"
      id="input-fname"
      placeholder="First Name"
    />
    <input
      type="text"
      name="input-lname"
      id="input-lname"
      placeholder="Last Name"
    />
    <input
      type="text"
      name="input-phone"
      id="input-phone"
      placeholder="Phone"
    />
    <input
      type="text"
      name="input-availability"
      id="input-availability"
      placeholder="Availability"
    />
    <input type="submit" />
  </form>
</div>
<br />

<!--Update Driver Table -->

<div class="form-style">
  <h4>UPDATE DRIVER</h4>
  <form id="update-driver-form-ajax">
    <select name="update-fullname" id="update-fullname-driver">
      <option value="test">Select a Driver</option>
      {{#each data}}
        <option value="{{this.driver_id}}">{{this.fname}}
          {{this.lname}}</option>
      {{/each}}
    </select>
    <input
      type="text"
      name="update-fname-driver"
      id="update-fname-driver"
      placeholder="First Name"
    />
    <input
      type="text"
      name="update-lname-driver"
      id="update-lname-driver"
      placeholder="Last Name"
    />
    <input
      type="text"
      name="update-phone-driver"
      id="update-phone-driver"
      placeholder="Phone"
    />
    <input
      type="text"
      name="update-availability-driver"
      id="update-availability-driver"
      placeholder="Availability"
    />
    <input type="submit" />
  </form>
</div>

{{! Embed our javascript to handle the DOM manipulation and AJAX request }}
<script src="./js/add_driver.js"></script>
<script src="./js/delete_driver.js"></script>
<script src="./js/update_driver.js"></script>