<!-- index.hbs -->
<h1>Drivers</h1>
<nav>
    <a href="/#">HomePage</a>   <a href="/customers">Customers</a>
    <a href="/drivers">Drivers</a>   <a href="/orders">Orders</a>
    <a href="/orderproducts">Order Products</a>   <a href="/products">Products</a>  
    <a href="/orderstatuses">Order Statuses</a>
  </nav>

  <br></br>
{{!-- Create a table --}}

    {{!-- Header section --}}
    <thead>
        <form id="search-person-html" method='GET' action='/drivers'>
        <fieldset>
            <legend>Search Driver</legend>
        <p>Search by last name using the field below. Partial last names are OK too!</p>
        <form id="search-person-html" method='GET' action='/drivers'>
        <label for="input-lname">Search by Last Name: </label>
        <input type="text" name="lname" id="input-lname-html-search">
        <input type="submit">
        <a href='/drivers'><button>Reset</button></a>
        </fieldset>
    </form>
        <br></br>

    <table>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Driver ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Availability</th>        
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the information in order --}}
        {{#each data}}
        <tr>
          <td>{{this.driver_id}}</td>
          <td>{{this.fname}}</td>
          <td>{{this.lname}}</td>
          <td>{{this.phone}}</td>
          <td>{{this.available}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- /views/index.hbs -->



<br></br>
{{!-- Form to add a record to the table  --}}
<form id="add-driver-form-ajax">
    <fieldset>
    <legend>Add driver</legend>
    <p>To add a new driver, please enter their information below and click 'Submit'!</p>
    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname-d" id="input-fname-d">
    
    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname-d" id="input-lname-d">

    <label for="input-phone">Phone: </label>
    <input type="text" name="input-phone-d" id="input-phone-d">

    <label for="input-available">Availability: </label>
    <input type="text" name="input-available" id="input-available">

    <input type="submit">
    </fieldset>
</form>
<br>
<form id="update-driver-form-ajax"></form>
<fieldset>
<legend>Updating Driver's Availability</legend>

    <label for="input-fullname">Full name: </label>
    <select name="input-fullname" id="mySelect">
        <option value="test">Select a Person</option>
        {{#each data}}
        <option value="{{this.driver_id}}">{{this.fname}} {{this.lname}}</option>
        {{/each}}
    </select>

    <label for="input-available-update">Availability: </label>
    <select name="input-available-update" id="input-available-update">
        <option>Select Availability</option>
        {{#each available}}
        <option value="{{this.driver_id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <input type="submit">
</fieldset>
</form>


{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_driver.js"></script>
<script src="./js/update_driver.js"></script>