<!-- orderStatuses.hbs -->
<script
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
></script>
<nav class="theta-mart-nav">
  <ul>
    <li><a href="/#">Theta Mart</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/drivers">Drivers</a></li>
    <li><a href="/orders">Orders</a></li>
    <li><a href="/orderProducts">Order Products</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/orderStatuses">Order Statuses</a></li>
  </ul>
</nav>
<br />

{{!-- Create a table --}}

<table id ="orderstatus-table" class="order-status">
    {{!-- For just the first row, we print each key of the row object as a header cell so we
    know what each column means when the page renders --}}
    <thead>
    <tr>
        <th>Order Status</th>
        <th>Description</th>
    </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the information in order --}}
        {{#each data}}
        <tr data-value = {{this.orderstatus_id}}>
            <td>{{this.orderstatus_id}}</td>
            <td>{{this.description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


<!-- Add a new table -->

<div class="form-style">
    <h4>CREATE ORDER STATUS</h4>
    <form id="add-orderStatus-form-ajax">
      <input type="text" 
        name="input-orderStatus" 
        id="input-orderStatus"
        placeholder="Order Status"
        required
      />
      <input type="text" 
        name="input-description-o" 
        id="input-description-o"
        placeholder="Description"
        required
      />
      <input type="submit" />
    </form>
  </div>
  <br>

  <div class="form-style">
    <h4>UPDATE ORDER STATUS</h4>
    <form id="update-orderStatus-form-ajax">
        <select name="update-orderStatus" id="update-orderStatus"  placeholder="Select Order Status" required onChange="autofill()">
            <option value="test">Select a Order Status</option>
            {{#each data}}
            <option value="{{this.orderstatus_id}}">{{this.orderstatus_id}}</option>
            {{/each}}
            </select> 
    
    <Input type="text" name="update-description" id="update-description" required placeholder="Description">
    <input type="submit">
    </form>
</div>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_orderStatus.js"></script>
<script src="./js/update_orderStatus.js"></script>

