<!-- orderProducts.hbs -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Order Products</h1>
<nav>
    <a href="/#">HomePage</a>   <a href="/customers">Customers</a>
    <a href="/drivers">Drivers</a>   <a href="/orders">Orders</a>
    <a href="/orderProducts">Order Products</a>   <a href="/products">Products</a>  
    <a href="/orderStatuses">Order Statuses</a>
  </nav>

  <br></br>
<thead>

        <form id="search-orderproduct-html" method='GET' action='/orderproducts'>
        <fieldset>
            <legend>Search Order Products</legend>
        <p>Search by Order ID using the field below!</p>
        <form id="search-person-html" method='GET' action='/orderproducts'>
        <label for="input-lname">Search by Order ID: </label>
        <input type="number" name="orderid" id="input-orderid-html-search">
        <input type="submit">
        <a href='/orderProducts'><button>Reset</button></a>
        </fieldset>
    </form>
        <br></br>
{{!-- Create a table --}}

    <table id="orderproducts-table">
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>OrderProduct ID</th>
            <th>Order ID</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>        
            <th>Subtotal</th> 
            <th>Delete</th>

        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the information in order --}}
        {{#each data}}
        <tr>
          <td>{{this.[OrderProduct ID]}}</td>
          <td>{{this.[Order ID]}}</td>
          <td>{{this.Product}}</td>
          <td>{{this.Quantity}}</td>
          <td>{{this.[Unit Price]}}</td>
          <td>{{this.[Subtotal]}}</td>
          <td><button onclick="deleteOrderProduct({{this.[OrderProduct ID]}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- /views/index.hbs -->


<p>Use the following fields to update an orderproduct's information.</p>
<form id="update-orderproduct-form-ajax">

    <label for="input-update-orderproduct_id">OrderProduct ID: </label>
    <select name="input-update-orderproduct_id" id="select-update-productid">
        <option value="">Select a Product ID</option>
        {{#each data}}
        <option value="{{this.orderproduct_id}}">{{this.orderproduct_id}}</option>
        {{/each}}
    </select>

    <label for="input-update-orderproduct_id">OrderProduct ID: </label>
    <select name="input-update-productname" id="update_productid">
        <option value="">Select a Product ID</option>
        {{#each data}}
        <option value="{{this.product_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <input type="submit">

</form>


<br></br>
{{!-- Form to add a record to the table  --}}
<form id="add-orderproduct-form-ajax">


    <fieldset>
    <legend>Add OrderProduct</legend>
    <p>To add a new OrderProduct, please enter their information below and click 'Submit'!</p>
    
    <label for="input-orderid">Order ID: </label>
        <select name="input-orderid" id="input-input-orderid-op">
        <option value="">Select an Order</option>
        {{#each orders}}
        <option value="{{this.order_id}}">{{this.order_id}}</option>
        {{/each}}
    </select>
 
    
    <label for="input-productid">Product: </label>
  <select name="input-productid" id="input-productid-op">
        <option value="">Select a Product</option>
        {{#each products}}
        <option value="{{this.product_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-quantity">Quantity: </label>
    <input type="number" name="input-quantity" id="input-quantity-op">

    <label for="input-unitprice">Unit Price: </label>
    <input type="number" step="0.01" name="input-unitprice" id="input-unitprice-op">

    <input type="submit">
    </fieldset>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_orderProduct.js"></script>
<script src="./js/delete_orderProduct.js"></script>
<script src="./js/update_orderProduct.js"></script>