<!-- orderStatuses.hbs -->

<script
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
></script>
<nav class="theta-mart-nav">
  <ul>
    <li><a href="/#">Theta Mart</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/drivers">Drivers</a></li>
    <li><a href="/orders">Orders</a></li>
    <li><a href="/orderProducts">Order Products</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/orderStatuses">Order Statuses</a></li>
        <li><a href="/reload">Data Reload</a></li>
  </ul>
</nav>
<br />


<br></br>

<!-- Display OrderStatuses Table -->
<table id ="orderstatus-table" class="main-table">
    {{!-- For just the first row, we print each key of the row object as a header cell so we
    know what each column means when the page renders --}}
    <thead>
          <caption>
           Display Order Statuses
          </caption>
    <tr>
        <th>Order Status</th>
        <th>Description</th>
        <th>Delete</th>
    </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the information in order --}}
        {{#each data}}
        <tr data-value = "{{this.orderstatus_id}}">
            <td>{{this.orderstatus_id}}</td>
            <td>{{this.description}}</td>
            <td><button onclick="deleteOrderStatus('{{this.orderstatus_id}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>


<!-- Create OrderStatus Table -->
<div class="form-alignment">
<div class="title-orderstatus">
    <h4 class="table-title">CREATE ORDER STATUS</h4>
    <form id="add-orderStatus-form-ajax">
      <table class="sub-table-style">
        <tr>
    
        <td><input type="text" 
        name="input-orderStatus" 
        id="input-orderStatus"
        placeholder="Order Status"
        required/></td>
      </tr>
      
        <tr>
  
      <td><input type="text" 
        name="input-description-o" 
        id="input-description-o"
        placeholder="Description"
        required
      /></td></tr>
    </table>
    <div class="button-style">
    <td><input type="submit"></td>
    <td><input a href='/orderStatuses' type="reset"></td>
    </div>

</form>
</div>
  <br>
  

<!-- Update OrderStatus Table -->
  <div class="title-orderstatus">
    <h4 class="table-title">UPDATE ORDER STATUS</h4>
    <form id="update-orderStatus-form-ajax">
      <table class="sub-table-style">
        <tr>
            <td><select name="update-orderStatus" id="update-orderStatus"  placeholder="Select Order Status" required onChange="autofill()">
            <option value="">Select a Order Status</option>
            {{#each data}}
            <option value="{{this.orderstatus_id}}">{{this.orderstatus_id}}</option>
            {{/each}}
            </select> </td>

          </tr>
          <tr>
    
            <td><Input type="text" name="update-description" id="update-description" placeholder="Description" required></td>
            </table>
            <div class="button-style">
            <td><input type="submit"></td>
            <td><input a href='/orderStatuses' type="reset"></td>
            </div>
        </div>
        </form>
        </div>
        
        <br></br>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_orderStatus.js"></script>
<script src="./js/update_orderStatus.js"></script>
<script src="./js/delete_orderStatus.js"></script>

