
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<nav class="theta-mart-nav">
  <ul>
    <li><a href="/#">Theta Mart</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/drivers">Drivers</a></li>
    <li><a href="/orders">Orders</a></li>
    <li><a href="/orderProducts">Order Products</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/orderStatuses">Order Statuses</a></li>
  </ul>
</nav>

{{!-- Create a table --}}
    <form id="search-order-html" method='GET' action='/orders'>
    <div class="textbox-label">Search Orders</div>    
    <input type="text" class="textbox" name="customer_name" id="input-customername-html-search" placeholder="Search by Customer Name">
    <input type="submit">
    <a href='/orders'><button>Reset Search</button></a>
    </form>
    </br>
    {{!-- For just the first row, we print each key of the row object as a header cell so we
    know what each column means when the page renders --}}
    <table id="orders-table" class="main-table">
        <thead>    
    <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Order Date</th>
            <th>Street</th>
            <th>Unit</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Country</th>
            <th>Total</th>
            <th>Order Status</th>        
            <th>Driver</th> 
            <th>Delete</th>
        </tr>

    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the information in order --}}
        {{#each data}}
        <tr data-value={{this.OrderID}}>
            <td>{{this.OrderID}}</td>
            <td>{{this.Customer}}</td>
            <td>{{this.[Order Date]}}</td>
            <td>{{this.Street}}</td>
            <td>{{this.Unit}}</td>
            <td>{{this.City}}</td>
            <td>{{this.State}}</td>
            <td>{{this.[Zip Code]}}</td>
            <td>{{this.Country}}</td>
            <td>{{this.Total}}</td>
            <td data-order_status="{{this.[Order Status]}}">{{this.[Order Status]}}</td>
            <td>{{this.Driver}}</td>
            <td><button onclick="deleteOrder({{this.OrderID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>


<div class="form-alignment">
<div class="title">
    <h4 class="table-title">CREATE ORDER</h4>
    <form id="add-order-form-ajax">
    <table class="sub-table-style">
        <tr>
        <td>
        <label for="input-customer">Customer Name: </label></td>
        <td><select name="input-customer" id="input-addcustomer-o" required class="box">
            <option value="">Select a Customer</option>
            {{#each customers}}
            <option value="{{this.customer_id}}">{{this.customer_id}}: {{this.Customer}}</option>
            {{/each}}
        </select></td>
        </tr>
        <tr>
        <td><label for="input-orderdate">Order Date: </label></td>
        <td><input type="date" required="required" name="input-orderdate" id="input-addorderdate-o" class="box"></td>
    </tr>
    <tr>
        <td><label for="input-street">Street: </label></td>
        <td><input type="text" required="required" name="input-street" id="input-addstreet-o"></td>
    </tr>
    <tr>
       <td><label for="input-unit">Unit: </label></td>
       <td><input type="text" name="input-unit" id="input-addunit-o"></td>
    </tr>
    <tr>
        <td><label for="input-city">City: </label></td>
        <td><input type="text" required="required" name="input-city" id="input-addcity-o"></td>
    </tr>
    <tr>
        <td><label for="input-state">State: </label></td>
        <td><input type="text" required="required" name="input-state" id="input-addstate-o"></td>
    </tr>
    <tr>
        <td>
        <label for="input-zipcode">Zip Code: </label></td>
        <td><input type="text" required="required" name="input-zipcode" 
        pattern="[0-9]{5}" title="Please enter your 5 digit zip code." id="input-addzipcode-o"></td>
    </tr>
    <tr>
    <td><label for="input-country">Country: </label></td>
    <td><input type="text" required="required" name="input-country" id="input-addcountry-o"></td>
</tr>
<tr>
    <td>
        <label for="input-orderstatus">Order Status: </label></td>
        <td><select name="input-orderstatus" id="input-addorderstatus-o" class="box" required>
            <option value="">Select an Order Status</option>
            {{#each orderstatuses}}
            <option value="{{this.orderstatus_id}}">{{this.orderstatus_id}}</option>
            {{/each}}
        </select></td>
    </tr>
    <tr>
        <td>
        <label for="input-driver">Driver: </label></td>
        <td><select name="input-driver" id="input-adddriver-o">
            <option value="null">Select an Available Driver</option>
            {{#each drivers}}
            <option value="{{this.driver_id}}">{{this.driver_id}}: {{this.Driver}}</option>
            {{/each}}
        </select></td>
    </tr>
</table>
<div class="button-style">
    <td><input type="submit"></td>
    <td><input a href='/orders' type="reset"></td>
</div>

</form>
</div>
<br />


<div class="title">
    <h4 class="table-title">UPDATE ORDER</h4>
<form id="update-order-form-ajax">
    <table class="sub-table-style">
        <tr>
        <td><label for="input-update-order_id">Order ID: </label></td>
        <td><select name="input-update-order_id" id="select-update-order_id" onclick="autofill()" required>
            <option value="">Select an Order</option>
            {{#each data}}
            <option value="{{this.OrderID}}">{{this.OrderID}}</option>
            {{/each}}
            </select></td>
        </tr>
    <tr>
    <td><label for="input-update-orderStatus">Order Status: </label></td>
    <td>
    <select name="input-update-orderStatus" id="update_orderStatus" required>
        <option value="">Select an Order Status</option>
        {{#each orderstatuses}}
        <option value="{{this.orderstatus_id}}">{{this.orderstatus_id}}</option>
        {{/each}}
        </select></td>
    </tr>
</table>
<div class="button-style">
    <td><input type="submit"></td>
    <td><input a href='/orders' type="reset"></td>
</div>

</form>
</div>
</div>
<br></br>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_order.js"></script>
<script src="./js/update_order.js"></script>
<script src="./js/delete_order.js"></script>