<!-- index.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Orders</h1>
<nav>
    <a href="/#">HomePage</a> <a href="/customers">Customers</a>
    <a href="/drivers">Drivers</a> <a href="/orders">Orders</a>
    <a href="/orderProducts">Order Products</a> <a href="/products">Products</a>
    <a href="/orderStatuses">Order Statuses</a>
</nav>

<br></br>
{{!-- Create a table --}}

<table id="orders-table">

<thead>
    <form id="search-order-html" method='GET' action='/orders'>
    <fieldset>
        <legend>Search Order</legend>
    <p>Search by last name using the field below. Partial last names are OK too!</p>
    <form id="search-order-html" method='GET' action='/orders'>
    <label for="input-order_id">Search by Order ID: </label>
    <input type="text" name="order_id" id="input-order_id-html-search">
    <input type="submit">
    <a href='/orders'><button>Reset</button></a>

    </fieldset>
    </form>
      <br></br>
    {{!-- For just the first row, we print each key of the row object as a header cell so we
    know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>{{@key}}</th>
            {{/each}}
            <th>Delete</th>
        </tr>

    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the information in order --}}
        {{#each data}}
        <tr data-value={{this.[Order ID]}}>
            <td>{{this.[Order ID]}}</td>
            <td>{{this.[Order Date]}}</td>
            <td>{{this.Street}}</td>
            <td>{{this.Unit}}</td>
            <td>{{this.City}}</td>
            <td>{{this.State}}</td>
            <td>{{this.[Zip Code]}}</td>
            <td>{{this.Country}}</td>
            <td>{{this.Total}}</td>
            <td>{{this.[Order Status]}}</td>
            <td>{{this.Driver}}</td>
            <td>{{this.Customer}}</td>
            <td><button onclick="deleteOrder({{this.[Order ID]}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>



    <table>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>{{@key}}</th>
                {{/each}}
            </tr>
    
        </thead>
    
        {{!-- Body section --}}
        <tbody>
    
            {{!-- For each row, print the information in order --}}
            {{#each data}}
            <tr>
                <td>{{this.[Order ID]}}</td>
                <td>{{this.[Order Date]}}</td>
                <td>{{this.Street}}</td>
                <td>{{this.Unit}}</td>
                <td>{{this.City}}</td>
                <td>{{this.State}}</td>
                <td>{{this.[Zip Code]}}</td>
                <td>{{this.Country}}</td>
                <td>{{this.Total}}</td>
                <td>{{this.[Order Status]}}</td>
                <td>{{this.Driver}}</td>
                <td>{{this.Customer}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    

<!-- /views/index.hbs -->
<br></br>
{{!-- Form to add a record to the table --}}
<form id="add-order-form-ajax">
    <fieldset>
        <legend>Add Order</legend>
        <p>To add new order, please enter the information below and click 'Submit'!</p>

        <label for="input-orderdate">Order Date: </label>
        <input type="date" required="required" name="input-orderdate" id="input-orderdate-o">
        
        <label for="input-street">Street: </label>
        <input type="text" required="required" name="input-street" id="input-street-o">
        
        <label for="input-unit">Unit: </label>
        <input type="text" name="input-unit" id="input-unit-o">
        
        <label for="input-city">City: </label>
        <input type="text" required="required" name="input-city" id="input-city-o">
        
        <label for="input-state">State: </label>
        <input type="text" required="required" name="input-state" id="input-state-o">
        
        <label for="input-zipcode">Zip Code: </label>
        <input type="text" required="required" name="input-zipcode" id="input-zipcode-o">
        
        <label for="input-country">Country: </label>
        <input type="text" required="required" name="input-country" id="input-country-o">

                <label for="input-country">Order Status: </label>
        <input type="text" required="required" name="input-country" id="input-orderstatusid-o">

                <label for="input-country">Driver: </label>
        <input type="text" required="required" name="input-country" id="input-driverid-o">

                <label for="input-country">Customer: </label>
        <input type="text" required="required" name="input-country" id="input-customerid-o">

        <input type="submit">
    </fieldset>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_order.js"></script>
<script src="./js/delete_order.js"></script>

