<!-- index.hbs -->
<h1>Orders</h1>
<nav>
    <a href="/#">HomePage</a> <a href="/customers">Customers</a>
    <a href="/drivers">Drivers</a> <a href="/orders">Orders</a>
    <a href="/orderproducts">Order Products</a> <a href="/products">Products</a>
    <a href="/orderStatuses">Order Statuses</a>
</nav>

<br></br>
{{!-- Create a table --}}

<table>
    {{!-- For just the first row, we print each key of the row object as a header cell so we
    know what each column means when the page renders --}}
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>{{@key}}</th>
            {{/each}}
        </tr>

    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the information in order --}}
        {{#each data}}
        <tr>
            <td>{{this.[Order ID]}}</td>
            <td>{{this.[Order Date]}}</td>
            <td>{{this.Street}}</td>
            <td>{{this.Unit}}</td>
            <td>{{this.City}}</td>
            <td>{{this.State}}</td>
            <td>{{this.[Zip Code]}}</td>
            <td>{{this.Country}}</td>
            <td>{{this.Total}}</td>
            <td>{{this.[Order Status]}}</td>
            <td>{{this.Driver}}</td>
            <td>{{this.Customer}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- /views/index.hbs -->



<br></br>
{{!-- Form to add a record to the table --}}
<form id="add-product-form-ajax">
    <fieldset>
        <legend>Add Order Status</legend>
        <p>To add new order status , please enter their information below and click 'Submit'!</p>
        <label for="input-name">Order Status: </label>
        <input type="text" name="input-orderStatus" id="input-orderStatus">

        <label for="input-description">Description: </label>
        <input type="text" name="input-description" id="input-description">

        <input type="submit">
    </fieldset>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_orderStatus.js"></script>