<!-- products.hbs -->
<nav class="theta-mart-nav">
  <ul>
    <li><a href="/#">Theta Mart</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/drivers">Drivers</a></li>
    <li><a href="/orders">Orders</a></li>
    <li><a href="/orderProducts">Order Products</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/orderStatuses">Order Statuses</a></li>
  </ul>
</nav>

<br></br>
{{!-- Create a table --}}

{{!-- Header section --}}
<thead>
    <form id="search-product-html" method='GET' action='/products'>
        <fieldset>
            <legend>Search Product</legend>
            <form id="search-product-html" method='GET' action='/products'>
                <label for="input-name">Search by Product Name: </label>
                <input type="text" name="name" id="input-name-html-search">
                <input type="submit">
                <a href='/products'><button>Reset</button></a>
        </fieldset>
    </form>
    <br></br>

    <table>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
</thead>

{{!-- Body section --}}
<tbody>

    {{!-- For each row, print the information in order --}}
    {{#each data}}
    <tr>
        <td>{{this.product_id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.price}}</td>
        <td>{{this.stock}}</td>
    </tr>
    {{/each}}
</tbody>
</table>

<!-- /views/index.hbs -->



<br></br>
{{!-- Form to add a record to the table --}}
<form id="add-product-form-ajax">
    <fieldset>
        <legend>Add Product</legend>
        <p>To add a new product, please enter their information below and click 'Submit'!</p>
        <label for="input-name">Product Name: </label>
        <input type="text" name="input-name" id="input-name">

        <label for="input-description">Description: </label>
        <input type="text" name="input-description" id="input-description">

        <label for="input-price">Price: </label>
        <input type="number" min="0.00" max="999999.99" step="0.01" name="input-price" id="input-price">

        <label for="input-stock">Stock: </label>
        <input type="number" name="input-stock" id="input-stock">

        <input type="submit">
    </fieldset>
</form>

<br>
<form id="update-product-form-ajax">
    <fieldset>
    <legend>Update a Product</legend>
    <p>Use the following fields to update a product information.</p>
    <label for="input-update-product_id">Product ID: </label>
        <select name="input-update-product_id" id="select-update-product_id">
            <option value="">Select a Product</option>
            {{#each data}}
            <option value="{{this.product_id}}">{{this.product_id}}</option>
            {{/each}}
        </select>
</select>


{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_product.js"></script>