<!-- products.hbs -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<nav class="theta-mart-nav">
  <ul>
    <li><a href="/#">Theta Mart</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/drivers">Drivers</a></li>
    <li><a href="/orders">Orders</a></li>
    <li><a href="/orderProducts">Order Products</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/orderStatuses">Order Statuses</a></li>
        <li><a href="/reload">Data Reload</a></li>
  </ul>
</nav>


<!-- Search Products Field -->
<form id="search-product-html" method="GET" action="/products">
  <div class="textbox-label">SEARCH PRODUCTS</div>
  <input
    type="text"
    name="name"
    id="input-name-html-search"
    placeholder="Type Product Name..."
    class="textbox"
  />
  <input type="submit" />
  <a href="/products"><button>Reset Search</button></a>
  
</form>
<br />


<!-- Display Products Table -->
<table id="product-table" class="main-table">
  {{! For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders }}
  <thead>
        <caption>
            Browse Products
        </caption>
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Delete</th>
    </tr>
  </thead>

  {{! Body section }}
  <tbody>

    {{#each data}}
      <tr data-value="{{this.product_id}}">
        <td>{{this.product_id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.price}}</td>
        <td>{{this.stock}}</td>
        <td><button onclick="deleteProduct({{this.product_id}})">Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="form-alignment">

<!-- Create Products Table -->
<div class="title">
  <h4 class="table-title">CREATE PRODUCT</h4>
  <form id="add-product-form-ajax">
    <table class="sub-table-style">
      <tr>
        <td><label for="input-name">Product Name:</label></td>
        <td><input type="text" name="input-name" id="input-name" required/></td>
      </tr>

      <tr>
        <td><label for="input-description">Description:</label></td>
        <td><input
            type="text"
            name="input-description"
            id="input-description"
            required
          /></td>
      </tr>
      <tr>
        <td><label for="input-price">Price:</label></td>
        <td><input
            type="number"
            min="0.00"
            max="999999.99"
            step="0.01"
            name="input-price"
            id="input-price"
            required
          /></td>
      </tr>
      <tr>
        <td><label for="input-stock">Stock:</label></td>
        <td><input type="number" name="input-stock" id="input-stock" min="0" required/></td>
      </tr>
    </table>
    <div class="button-style">
      <td><input type="submit" /></td>
      <td><input a href='/products' type="reset"></td>
    </div>

  </form>
</div>
<br />


<!-- Update Products Table -->
<div class="title">
    <h4 class="table-title">UPDATE PRODUCT</h4>
    <form id="update-product-form-ajax">
    <table class="sub-table-style">
        <tr>
            <td><label for="input-product">Product Name: </label>
      <td><select name="input-product" id="input-updateproduct-p" required onclick="autofill()">
        <option value="">Select a Product</option>
        {{#each data}}
          <option value={{this.product_id}}>{{this.product_id}}: {{this.name}}</option>
        {{/each}}
    </select></td>

    </tr>
    <tr>
    <td><label for="input-description">Description: </label></td>
    <td><input
      type="text"
      name="input-description"
      id="input-updatedescription-p"
      min="0"
      required
    /></td>

</tr>
<tr>
    <td><label for="input-price">Price: </label></td>
    <td><input
      type="number"
      min="0.00"
      max="999999.99"
      step="0.01"
      name="input-price"
      id="input-updateprice-p"
      required
    /></td>      
    </tr>
    <tr>
    <td><label for="input-stock">Stock: </label></td>  
    <td><input type="number" name="input-stock" id="input-updatestock-p" min="0" required/></td> 
    </tr>
    </table>
    <div class="button-style">
    <td><input type="submit"></td>
    <td><input a href='/products' type="reset"></td>
    </div>

</form>
</div>
    </div>

<br></br>

{{! Embed our javascript to handle the DOM manipulation and AJAX request }}
<script src="./js/add_product.js"></script>
<script src="./js/update_product.js"></script>
<script src="./js/delete_product.js"></script>
